<div class="comment">
                        <div class="comment_profile_div">
                            <span class="comment_profile_content">
                                <div class="comment_pfp_container_x24">
                                    <a href="../../Profiles/View?p=05">
                                        <img src="../../Assets/Images/WebSite/DefaultProfilePic.png" alt="Profile Picture">
                                    </a>
                                </div>
                                <div style="display: inline-block;position: relative;width: 5px;"></div>
                                <span><a href="../../Profiles/View?p=05">@Bob</a> | 02/21/26 - 12:10</span>
                            </span>
                        </div>
                        <div>
                            <span class="comment_text_final">
                                this game lowkey ahh 🥀
                            </span>
                        </div>
                        <div class="comment_reactions_sec">
                            <div style="display: inline-block;position: relative;width: 2px;"></div>
                            <span title="Comment score">-100</span>
                            <div style="display: inline-block;position: relative;width: 10px;"></div>
                            <button><img alt="👍upvote" title="upvote" src="../../Assets/Images/WebSite/thumbsup_x16.png"></button>
                            <button><img alt="👎downvote" title="downvote" src="../../Assets/Images/WebSite/thumbsdown_x16.png"></button>
                            <button><img alt="🚩report" title="report" src="../../Assets/Images/WebSite/report_x16.png"></button>
                            <div style="display: inline-block;position: relative;width: 2px;"></div>
                            <button class="comment_reply_button" title="Reply to the comment"><span>Reply</span></button>
                            <button class="comment_reply_button" title="Expand replies"><span>View replies</span></button>
                        </div>
                        <div class="comment_replies_div" hidden="hidden">
                            <div class="comment_reply_div">
                                <img class="comment_reply_arrow_img" src="../../Assets/Images/WebSite/CommentReplyArrow_LOW.png">
                                <div class="comment_reply_content">
                                    <div>
                                        
                                    </div>
                                </div>
                            </div> 
                            
                        </div>

                    </div>