<link href="../../Css/Main.css" rel="stylesheet">
<link href="../../Css/Play.css" rel="stylesheet">

<noscript id="NoScript">
    <img src="../../Assets/Images/Icons/report_x32.png" alt="&#9888;"><font color="red" size="+3"><b>!! JAVASCRIPT NOT ENABLED !!</b></font><img src="./Assets/Images/Icons/report_x32.png" alt="&#9888;"><br><b><i>Enable JavaScript in browser settings to proceed.</i></b> <br><button style="width:90px;cursor:pointer;"><a href="."><u><b>O</b></u>k</a></button>
</noscript>
<div id="PrimaryContentDiv">
    <header id="PageHeader">
        <center>
            <a href="../../">
                <img id="PageLogo" src="../../Assets/Logo/White.svg" alt="FogStuff logo">
            </a>
        </center>
        <marquee scrollamount="19">
            <span>Unblocked web-games to waste time in school's computer lab instead of doing work...</span>
        </marquee>
    </header>
    <nav id="NavigationSection">
    </nav>
    <div id="ads">
        <div id="left_ad_area">
            <a href="../../Errors/AdNotFound/">
                <img class="ad_img" alt="ADVERTISEMENT" src="../../Assets/Images/AdTemplate.png">
            </a>
        </div>
        <div id="right_ad_area">
            <a href="javascript:alert('f uck you')">
                <img class="ad_img" alt="ADVERTISEMENT" src="../../Assets/Images/AdTemplate.png">
            </a>
        </div>
    </div>
    <main id="Main">
        <div id="MainListSection">
            <div id="large_main_games_area">
                <div id="game_area_main_center">
                    <div id="game_area">
                        <div id="game_top_toolbar">
                            <div id="game_title"> !_GAMENAME </div>
                        </div>
                        <div id="game_frame_container">
                            !_GAME_IFRAME_CONTENT
                        </div>
                        <div id="game_bottom_toolbar">
                            <span>
                                <button class="game_toolbar_button" title="Maximize" id="maximize_button">
                                    <img src="../../Assets/Images/Icons/maximize_x24.png">
                                </button>
                                <button class="game_toolbar_button" title="Share" id="share_button">
                                    <img src="../../Assets/Images/Icons/share_x24.png">
                                </button>
                                <button class="game_toolbar_button" title="About" id="help_button">
                                    <img src="../../Assets/Images/Icons/question_mark_x24.png">
                                    <!--<a href="./About">
                                    </a>-->
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    FogStuff by Fog (@f0gzin on GitHub)<br>
</footer>